<section class="about">
<div class="wrapper" >
	<div class="about-wrapper">
		<article class="flex-wrap">
			<p class="about-head">A Fantastic Heading</p>
			<p class="about-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
		</article>
		<article class="flex-wrap">
			<p class="about-head">Good Day Blokes</p>
			<p class="about-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
		</article>
		</div>
		<div class="about-wrapper">
		<article class="flex-wrap">
			<p class="about-head">Blaz Robar for President</p>
			<p class="about-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
		</article>
		<article class="flex-wrap">
			<p class="about-head">Vote for Robar</p>
			<p class="about-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
		</article>
	</div>
	</div>
</section>