.purple {
	min-height: 550px;
	background: url(../img/purple.jpg) center no-repeat;
    background-size: cover;
	color: white;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}


.purp-text {
	margin: 20px 0 40px;
	color: #a87bb7;
	font-size: 20px;
	@include media-query($on-palm) {
        font-size: 16px;
    }
}

.purp-sub-text {
	margin-top: 40px;
	font-size: 12px;
	font-weight: 200;

}
.purp-header {
	font-size: 40px;
	font-weight: 100;
	@include media-query($on-palm) {
        font-size: 25px;
    }
}